@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(0, 0, 0);
  background: #080f28;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color: rgb(0, 0, 0);
    background: #080f28;
  }
  body {
    color: rgb(0, 0, 0);
    background: #080f28;
  }
  a {
    display: block;
    text-decoration: none;
  }
}
.bg-slider {
  background: rgb(50, 50, 64);
  background: -moz-linear-gradient(
    312deg,
    rgba(50, 50, 64, 0.68531162464986) 0%,
    rgba(82, 76, 76, 0.727328431372549) 100%
  );
  background: -webkit-linear-gradient(
    312deg,
    rgba(50, 50, 64, 0.68531162464986) 0%,
    rgba(82, 76, 76, 0.727328431372549) 100%
  );
  background: linear-gradient(
    312deg,
    rgba(50, 50, 64, 0.68531162464986) 0%,
    rgba(82, 76, 76, 0.727328431372549) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323240",endColorstr="#524c4c",GradientType=1);
  background-size: cover;
  background-position: center;
}
